.header {
    display: flex;
    align-items: center;
    padding: 25px $container-padding-horizontal;
    max-height: 15vh;
    border-bottom: 1px solid $light-gray;

    &__logo {
        width: 108px;
        height: 27px;
        margin-right: 40px;
    }

    @media (max-width: 768px) {
        position: fixed;
        top: 0;
        background: white;
        width: 100%;
        justify-content: space-between;
        border-bottom: none;
        padding: 15px $container-padding-horizontal--mobile;
        z-index: 10000000000;

        & + .nav--humburger {
            position: fixed;
            width: 100%;
            top: 57px;
            background: white;
            z-index: 10000000000;
            padding-bottom: 10px;
        }
    }

}