.termo-control {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    transform: rotate(270deg);

    &__arrow-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 150px;
        height: 150px;
        box-shadow: $shadow-gray;
        border-radius: 50%;
        z-index: 1000px;
        &__arrow {
            width: 10px;
            position: absolute;
            z-index: 10000;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            pointer-events: none;
        }
        &__value {
            font-size: 46px;
            transform: rotate(90deg);
            pointer-events: none;
            user-select: none;
            -webkit-user-select: none;
        }
    }

    
    &__line {
        width: 1px;
        height: 180px;
        position: absolute;
        z-index: 900px;
        .content {
            height: 15px;
            background: $black;
            transition: 0.3s;
        }
        &--active {
            .content {
                background: $orange;
            }
        }
    }

}