$yellow: #FFD93E;
$black: #333333;
$gray: #858585;
$light-gray: #F0F0F0;
$orange: rgb(247, 196, 117);

$shadow-gray: -1px 0px 4px 0 rgba(134,121,71,0.45);

$container-padding-horizontal: 40px;
$container-padding-horizontal--mobile: 20px;