.info-card {
    display: flex;
    flex-direction: column;
    padding: 14px;
    margin-bottom: 15px;
    background: #F7F7F7;
    border-radius: 20px;
    cursor: pointer;
    transition: box-shadow 0.3s, background 0.3s;

    &:hover {
        background: white;
        box-shadow: $shadow-gray;
        z-index: 10000;
    }

    &__img {
        width: 24px;
        height: 24px;
    }

    &__details {

        &__title {
            font-size: 13px;
            margin: 5px 0;
        }

        &__sub-title {
            font-size: 11px;
            margin: 0;
            color: $gray;
        }
    }

    &--space-between {
        justify-content: space-between;
    }

    &--hide {
        display: none;
    }
}