* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;

    @media (max-width: 1024px) {
        min-height: 100vh;
        height: auto;
        overflow-y: scroll;
    }

    @media (max-width: 768px) {
        padding-bottom: 0;
    }
}

.home {
    padding: 0 $container-padding-horizontal;

    &__half-splitted-section {
        display: flex;
        justify-content: space-between;
        & > * {
            width: 49%;
        }
    }

    @media (max-width: 768px) {
        padding: 0 $container-padding-horizontal--mobile;
        &__half-splitted-section {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            & > * {
                width: 100%;

                &:first-of-type {
                    margin-top: 40px;
                }
            }
        }
    }
}