* {
  font-family: 'Arial', sans-serif; }

.navbar {
  display: flex;
  align-items: center;
  padding: 30px 40px;
  border-bottom: 1px solid #F0F0F0; }
  .navbar__logo {
    width: 120px;
    margin-right: 40px; }
  .navbar__menu {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none; }
    .navbar__menu__item {
      margin-right: 30px; }
      .navbar__menu__item__link {
        font-weight: bold;
        color: #333333;
        text-decoration: none;
        opacity: 0.6; }
      .navbar__menu__item--active .navbar__menu__item__link {
        opacity: 1; }
      .navbar__menu__item--humburger {
        margin: 0; }
        .navbar__menu__item--humburger__icon {
          width: 16px; }
  @media (min-width: 769px) {
    .navbar__menu__item--humburger {
      display: none; } }
  @media (max-width: 768px) {
    .navbar {
      justify-content: space-between;
      border-bottom: none;
      padding: 15px 20px; }
      .navbar__menu__item--humburger ~ .navbar__menu__item {
        display: none; } }

.termo-control {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 180px;
  transform: rotate(270deg); }
  .termo-control__arrow-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    box-shadow: -1px 0px 4px 0 rgba(134, 121, 71, 0.45);
    border-radius: 50%;
    z-index: 1000px; }
    .termo-control__arrow-wrapper__arrow {
      width: 10px;
      position: absolute;
      z-index: 10000;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      pointer-events: none; }
    .termo-control__arrow-wrapper__value {
      font-size: 46px;
      transform: rotate(90deg);
      pointer-events: none;
      user-select: none;
      -webkit-user-select: none; }
  .termo-control__line {
    width: 1px;
    height: 180px;
    position: absolute;
    z-index: 900px; }
    .termo-control__line .content {
      height: 15px;
      background: #333333;
      transition: 0.3s; }
    .termo-control__line--active .content {
      background: #f7c475; }

.range-input {
  position: relative;
  display: flex;
  align-items: center;
  width: 300px; }
  .range-input--vertical {
    transform: rotate(270deg); }
    .range-input--vertical .range-input__background__value {
      transform: rotate(90deg); }
  .range-input__input[type="range"] {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent !important;
    -webkit-appearance: none;
    appearance: none; }
    .range-input__input[type="range"]::-webkit-slider-runnable-track {
      width: 100%;
      background: transparent; }
    .range-input__input[type="range"]::-moz-range-track {
      width: 100%;
      background: transparent; }
    .range-input__input[type="range"]::-ms-track {
      width: 100%;
      background: transparent; }
    .range-input__input[type="range"]::-ms-fill-upper {
      width: 100%;
      background: transparent; }
    .range-input__input[type="range"]::-ms-fill-lower {
      width: 100%;
      background: transparent; }
    .range-input__input[type="range"]:focus::-webkit-slider-runnable-track {
      width: 100%;
      background: transparent; }
    .range-input__input[type="range"]:focus::-moz-range-track {
      width: 100%;
      background: transparent; }
    .range-input__input[type="range"]:focus::-ms-track {
      width: 100%;
      background: transparent; }
    .range-input__input[type="range"]:focus::-ms-fill-upper {
      width: 100%;
      background: transparent; }
    .range-input__input[type="range"]:focus::-ms-fill-lower {
      width: 100%;
      background: transparent; }
    .range-input__input[type="range"]::-webkit-slider-thumb {
      cursor: pointer;
      width: 36px;
      height: 36px;
      border: 4px solid white;
      border-radius: 50%;
      background: transparent;
      box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.15);
      -webkit-appearance: none;
      width: 44px;
      height: 44px; }
    .range-input__input[type="range"]::-moz-range-thumb {
      cursor: pointer;
      width: 36px;
      height: 36px;
      border: 4px solid white;
      border-radius: 50%;
      background: transparent;
      box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.15); }
    .range-input__input[type="range"]::-ms-thumb {
      cursor: pointer;
      width: 36px;
      height: 36px;
      border: 4px solid white;
      border-radius: 50%;
      background: transparent;
      box-shadow: inset 0px 0px 2px 1px rgba(0, 0, 0, 0.15); }
    .range-input__input[type="range"]:focus {
      outline: none; }
  .range-input__background {
    width: 100%;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: -webkit-linear-gradient(right, #ff9e00, #ffe682);
    background: -o-linear-gradient(right, #ff9e00, #ffe682);
    background: -moz-linear-gradient(right, #ff9e00, #ffe682);
    background: linear-gradient(to left, #ff9e00, #ffe682);
    border-radius: 30px;
    padding: 8px 15px; }
    .range-input__background--multiple-gradient {
      background: linear-gradient(90deg, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
      background: -webkit-linear-gradient(left, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
      background: -o-linear-gradient(left, #068FFF 2%, #FFD800 51%, #F76B1C 100%);
      background: -moz-linear-gradient(left, #068FFF 2%, #FFD800 51%, #F76B1C 100%); }
    .range-input__background__value {
      color: white;
      font-size: 14px;
      font-weight: normal; }

body {
  height: 100vh;
  overflow: hidden; }
